# Puerto del servidor
PORT=3001

# Conexion a PostgreSQL
# Para RENDER: copiar el Internal Database URL completo
# Ejemplo: postgresql://escuelitafc_user:abc123@dpg-xxxx.a.postgres.render.com:5432/escuela_futbol
DATABASE_URL=

# Para desarrollo local (si no hay DATABASE_URL):
DB_USER=postgres
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432
DB_NAME=escuela_futbol

# JWT Secret (opcional)
JWT_SECRET=tu_super_secreto_key
